/* Footer.css */

.footer {
    padding: 20px;
    width: 100%;
    height: 50vh;
    display:flex ;
    flex-direction: column;
    align-items:center ;
    justify-content: center
  }
  
  .logo-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; 
    height: 50px; 
    margin-right: 10px;
  }
  
  .brand-name {
    font-size: 1.2em;
  }
  
  .footer p {
    margin: 2rem;
  }
  
  .navigation, .social-media {
    display: flex;
    gap: 20px;
  }
  
  .nav-item, .social-item {
    text-decoration: none;
    cursor: pointer;
    color: black;
    margin: 1rem;
  }
  
  .nav-item:hover, .social-item:hover {
    color: #1D4ED8;
  }
  