/* hero.css */

.hero-page-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 50px 200px;
    width: 100%;
    height: 120vh;
    gap: 70px;
  }
  
  .hero-page-div img {
    width: 44rem;
    height: 50rem;
    border-radius: 8px; 
  }
  
  .hero-page-div > div:last-child {
    max-width: 50%;
  }
  
  .hero-page-div h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333; 
  }
  
  .hero-page-div p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666; 
  }
  
  .hero-page-div button {
    background-color: #4F46E6; 
    color: #fff; 
    padding: 14px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hero-page-div button:hover {
    background-color: white;
    color: #4F46E6; 
    border: 1px solid #4F46E6;
  }
  