.landing-page-div {
    background: url(https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80) center/cover no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
  }
  
  .landing-innercontents {
    padding: 20px;
    width: 70%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .h01 {
    font-size: 3em;
    color: black;
  }
  .h02 {
    font-size: 3em;
    margin-top: -1rem;
    color: #BE123C;
    font-weight: bolder;
    margin-bottom: 0rem;
  }

  .landing-innercontents p {
    font-size: 1.2em;
    margin-bottom: 3rem;
    font-weight: bolder;
  }
  
  .landing-innercontents div {
    display: flex;
  }
  
  .btnsearch{
    background-color: #e11d48;
    color: white;
    padding: 14px 40px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btnsearch:hover {
    background-color:#BE123C;
  }
  .btnknow{
    color: #e11d48;
    background-color: white;
    padding: 14px 40px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btnknow:hover {
    background-color:blanchedalmond;
  }