/* members.css */
.mem-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    height: 70vh;
    justify-content: center;
    padding-left: 20rem;
    padding-right: 20rem;
}
.pre-saved-component {
    display: flex;
    flex-direction: column;
    width: 20rem;
    
}
  
  .pre-saved-component .row {
    display: flex;
  }
  
  .pre-saved-component p {
    margin-bottom: 2rem;
  }
  
  .pre-saved-component img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 1rem;
  }
  
  .pre-saved-component .name {
    font-weight: bold;
    color: #333; 
  }
  
  