
.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111827;
    color: white;
    padding: 10px 20rem;
  }
  .left-section {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 40px; 
    height: 40px;
    margin-right: 10px;
  }
  .brand-name {
    font-size: 1.5rem;
  }
  
  .right-section {
    display: flex;
    align-items: center;
    gap: 1.9rem;
  }
  .right-section > span:hover {
    color:#1D4ED8;
  }
  .get-started {
    background-color:#2563eb;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  .get-started:hover {
    background-color:#1D4ED8;
  }
  